<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./master/head_links_meta.ejs') %>
    <title>NoFap | HOME</title>
</head>
<body>
    <!-- NavBar -->
    <nav class="navbar navbar-dark bg-dark d-flex justify-content-center">
        <section class="navbar-brand mb-0 h1 text-danger">Template | home</section>
    </nav>
    <!-- logout-button -->
    <nav class="container p-0">
        <div class="card">
            <div class="card-footer d-flex flex-row justify-content-right">
                <form action="/" method="post">
                    <input type="submit" value="Again" class="btn btn-dark">
                </form>
            </div>
        </div>
    </nav>
    <!-- scripts -->
    <%- include('./master/scripts.ejs') %>
    <script src="/javascripts/counter.js"></script>
</body>
</html>