<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./master/head_links_meta.ejs') %>
    <title>Template | HOME</title>
</head>
<body>
    <!-- NavBar -->
    <nav class="navbar navbar-dark bg-dark d-flex justify-content-center">
        <section class="navbar-brand mb-0 h1 text-danger">Template</section>
    </nav>
    <!-- logout-button -->
    <nav class="container p-0 d-flex justify-content-center align-items-center" style="height:80vh">
        <form action="/logsign" method="post">
            <input type="submit" value="Log Out" class="btn btn-danger">
        </form>
    </nav>
    <!-- scripts -->
    <%- include('./master/scripts.ejs') %>
    <script src="/javascripts/counter.js"></script>
</body>
</html>