<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./master/head_links_meta.ejs') %>
    <title>NoFap | LogIn</title>
</head>
<body>
    <!-- The navbar -->
    <nav class="navbar navbar-dark bg-dark d-flex justify-content-center">
        <section class="navbar-brand mb-0 h1 text-danger">NoFap</section>
    </nav>
    <nav class="container content d-flex flex-column align-items-center p-3">
        <!-- where one of them appear -->
        <div class="p-2">
            <!-- Log in -->
            <div class="container position-relative" style="top:30px">
                <div class="row justify-content-center align-items-center text-center">
                    <form class="card bg-light shadow" action="/logsign/signup" method="post">
                        <div class="card-head">
                            <div class="btn-group btn-group-toggle w-100 justify-content-center" data-toggle="buttons">
                                <label class="btn-dark" id="login" onclick="toogleMood()">Log in</label>
                                <label class="btn-light" id="signup" onclick="toogleMood()">Sign up</label>
                            </div>
                        </div>
                        <!-- log-in -->
                        <div class="card-body p-4 log">
                            <div class="input-group mb-3">
                                <div class="input-group-append InputTitle">
                                    <span class="input-group-text" id="basic-addon2">Username</span>
                                  </div>
                                <input type="text" name="username_login" class="form-control"aria-label="Recipient's username" aria-describedby="basic-addon2">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend InputTitle">
                                  <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                                </div>
                                <input type="password" name="password_login" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <small class="text-muted text-right">You have not an account ? <a onclick="toogleMood()" href="#">sign up</a></small>
                        </div>
                        <div class="card-footer justify-content-center log">
                            <input type="submit" value="Log in" class="btn btn-success text-light">
                        </div>
                        <!--sign-up-->
                        <div class="card-body sign">
                            <div class="input-group mb-3">
                                <div class="input-group-append InputTitle">
                                    <span class="input-group-text" id="basic-addon2">Username</span>
                                  </div>
                                <input type="text" name="username_sign" class="form-control InputTitle" required aria-label="Recipient's username" aria-describedby="basic-addon2">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend InputTitle">
                                  <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                                </div>
                                <input id="pw" type="password" minlength="6" name="password_sign" class="form-control InputTitle" aria-label="Default" aria-describedby="inputGroup-sizing-default" data-toggle="tooltip" data-placement="bottom" data-original-title="password should contain more than 6 words" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend InputTitle">
                                  <span class="input-group-text" id="inputGroup-sizing-default">Confirm &nbsp;</span>
                                </div>
                                <input type="password" id="cpw" minlength="6" name="ConfirmPassword" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
                            </div>
                            <div class="input-group mb-1">
                                <div class="input-group-prepend InputTitle">
                                  <span class="input-group-text" id="inputGroup-sizing-default">Start Date &nbsp;</span>
                                </div>
                                <input type="date" id="cpw" minlength="6" name="start_day" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
                            </div>
                            <small class="text-muted text-right">You already have an account ? <a  onclick="toogleMood()" href="#">Log in</a></small>
                        </div>
                        <div class="card-footer justify-content-center sign">
                            <input type="submit" id="btnSubmit" value="sign up" class="btn btn-success text-light">
                        </div>
                    </form>
                </div>
            </div>
        </div>        
    </nav>
    <!-- scripts -->
    <%- include('./master/scripts.ejs') %>
    <script src="/javascripts/login_signup.js"></script>
</body>
</html>