/* general tags */
*{
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    transition: all 500ms;
}
p{
    display:inline;
}
/* rank card */
.users_rank{
    height:5cm;
    overflow-y:scroll;
    scrollbar-width: thin;
    scrollbar-color: #555 #eee;
}
.card-footer{
    gap:5px;
}
/* LogIn || SignUp page */
/* the navbar */
.navbar{
    margin:0px;
}
/* login/signup part */
.content{
    max-width:500px;
}